.projects-subtitle {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.projects p {
  font-size: 1rem;
}

.projects .collapse-images {
  display: flex;
  gap: 1rem;
}

.projects .collapse-images picture{
  width: 50%;
  overflow: hidden;
}
